#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 500px;
  width: 100%;
  background-color: lightgrey;
}

.mapContainer {
  flex: 1;
  height: 100%;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.planeIcon {
  display: 'block';
  background-size: contain;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  pointer-events: none;
  transform-origin: center center;
  transform: rotate(300);
}

/* Responsive styles */
@media (max-width: 1000px) {
  .sidebar {
    padding: 4px 8px;
    margin: 8px;
    font-size: 14px;
  }
  
  .reset-button {
    top: 40px;
    padding: 3px 8px;
    font-size: 14px;
  }
  
  .planeIcon {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    padding: 3px 6px;
    margin: 6px;
    font-size: 12px;
  }
  
  .reset-button {
    top: 35px;
    padding: 2px 6px;
    font-size: 12px;
  }
  
  .planeIcon {
    width: 28px;
    height: 28px;
  }
}