.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(24, 24, 24, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 8px;
  width: 500px;
  max-height: 80vh;
  overflow-y: scroll;
  position: relative;
}

.xButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1px;
  transition: transform 0.2s ease;
  position: absolute;
  right: 0px;
  top: 10px;
}

.xIcon {
  color: #d8e900;
  font-size: 25px;
}

.xIcon:hover{
  color: #7e8700;
}

.flightList {
  list-style: none;
  padding: 5px;
  justify-items: center;
  margin-top: 15px;
}

.flightItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  max-width: 460px;
  padding: 10px 10px;
  border: 1px solid #7e8700;
  border-radius: 8px; 
  margin-bottom: 15px; 
  background-color: transparent;
  align-items: center;
}

.flightItem:hover {
  border: 2px solid #b4bc5f;
}

.cityContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.cityContainer:first-child {
  text-align: left;
}

.cityContainer:last-child {
  text-align: right;
}

.airportCode {
  font-size: 30px;
  font-weight: bold;
  color: #969f81;
}

.cityName1 {
  font-size: 12px;
  color: #e9ff26;
  margin-bottom: 5px;
}

.cityName2 {
  font-size: 12px;
  color: #e9ff26;
  margin-bottom: 5px;
}

.cityName1, .cityName2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

}

.flightNumber {
  font-size: 15px;
  font-weight: bold;
  color: #e5ff00;
  margin-bottom: -10px;
}

.arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e9ff26;
  margin: 0;
}

.point {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #e9ff26;
  margin: 10px 0;
  transform: rotate(270deg);
}
