/* search */
.inputContainer {
    position: absolute;
    width: 120px;
    align-items: center;
    justify-content: center;
    background-color: rgba(233, 255, 38, 0.15);
    border-radius: 20px;
  }
  
  .input {
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    color: #d1d5db;
    width: 70%;
    text-indent: 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .searchButton {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
  }
  
  .searchIcon {
    color: #c3c4b8;
    font-size: 16px;
  }
  
  .searchButton:hover .searchIcon {
    color: #d8e900;
  }
  