.appContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.centeredContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 5px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.rightColumn {
  display: flex;
  color: aqua;
  width: 100%;
}

.errorMessage {
  color: #d8e900;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.savedButton {
  padding: 8px 12px;
  margin-top: 3px;
  font-size: 14px;
  background-color: #505544;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: 1px solid #d8e900;
  outline-offset: 2px;
}

.savedButton:hover {
  background-color: #99b82b;
}

.starButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1px;
  transition: transform 0.2s ease;
}

.starIcon {
  color: #d8e900;
  font-size: 35px;
}