.appContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.rightColumn {
  display: flex;
  color: aqua;
  width: 100%;
}

.errorMessage {
  color: #d8e900;
  font-size: 16px;
  text-align: center;
  margin-top: 90px;
}